<section id="main" class="clearfix">
		<div class="center">
			<div class="slider clearfix">
				<div class="slider_wrap">
					<div class="small">
						<img src="img/slider/1.jpg" alt="" class="hidden">
						<img src="img/slider/2.jpg" alt="">
						<img src="img/slider/3.jpg" alt="">
					</div>
					<div class="main">
						<img src="img/slider/1.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="description clearfix">
				<div class="way">
					<img src="img/male_icon.png" alt="">
					<a href="">Men Clothes</a>
					>
					<a href="">Coat & Jacket</a>
				</div>
				<h3>Lightweight nylon knitweat in black</h3>
				<div class="price">
					<span>$48.00</span>
				</div>
				<div class="descr">
					<h6>Description</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sed perspiciatis sequi ut id expedita recusandae quibusdam dicta iusto debitis unde aut autem itaque, delectus rerum laborum veritatis eos labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis autem minus error nulla atque nihil perferendis repellat, fugiat architecto facilis.</p>
				</div>
				<div class="colors clearfix">
					<h6>Colors</h6>
					<form action=""  class="clearfix">
						<div>
							<input type="checkbox" id="blue">
							<span class='box'></span>
							<label for="blue"><span></span> Blue</label>
						</div>
						<div>
							<input type="checkbox" id="brown">
							<span class="box"></span>
							<label for="brown"><span></span> Brown</label>
						</div>
					</form>
				</div>
				<button>Buy now - 78$</button>
			</div>
		</div>
	</section>