{% set 
items_nav = [
	{name: "home"},
	{name: "products"},
	{name: "lookbook"},
	{name: "products"}
]
%};
{% set 
	items_products = [{
		img: "1.jpg",
		name: "leather bag",
		type: "Bag",
		price: "78$"
},
{
		img: "2.jpg",
		name: "gift box colors",
		type: "Gift",
		price: "78$"
},
{
		img: "3.jpg",
		name: "flyknit lunar 3",
		type: "Running shoes",
		price: "78$"
},
{
		img: "4.jpg",
		name: "wallets leather",
		type: "Accessories",
		price: "78$"
},
{
		img: "5.jpg",
		name: "shoes man",
		type: "Running shoes",
		price: "78$"
}
]
	%}
	